@import "../../../../assets/scss/global/variables";
.header {
  top: 0px;
  background-color: white;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 5px $ui-01;
  height: 75px;
  color: $mainColor;
  padding: 0 40px;
  z-index: 100;

  .flex-container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &__logo {
    @extend .flex-container;
    transform: translateY(calc((100% - 75px)/2));
    background-color: $mainColor;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2% 4%;
    height: 100%;
    transition: padding 0.7s;
  }

  &__cart{
    @extend .flex-container;
    cursor: pointer;
  }

  &__img {
    height: 8vh;
  }

  &__searchbar{
    width: 53%;
    margin: 10px;
    cursor: text;
  }

  &_content{
    margin: 5px;
  }

  &__user{
    @extend .flex-container;
    color: $mainColor;
    margin: 10px;
    cursor: pointer;
  }

  &__text {
    @extend .flex-container;
    font-weight: bold;
    text-align: center;
    margin: 10px;
  }

  .offset {
    padding: 0.3% 4%;
  }

  p {
    margin: 0;
    margin: 10px;
  }
}
@media screen and (max-width: 1800px) {
  .header {
    &__img {
      height: 7vh;
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    gap: 5px;
    padding: 0 10px;

    &__text {
      display: none !important;
    }

    &__img {
      height: 6vh;
      width: 60px;
    }
  }
}
